target/classes/inquiry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <flow name="InquiryResidenceFP_Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/InquiryResidenceFP" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="ResponseCode" value="-1" doc:name="Variable"/>
        <logger message="RequestMessage : #[json:]" level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
        	<db:template-query-ref name="select_finger"/>
		</db:select>
        <logger message="Record Found : #[payload.size()]" level="INFO" doc:name="Logger"/>
        <foreach doc:name="For Each">
            <choice doc:name="Choice">
                <when expression="#[payload.size() &gt; 0]">
                    <dw:transform-message doc:name="Transform Message" metadata:id="b5d66ba3-7da8-4ec2-846b-5e275ce0e27e">
                        <dw:input-payload doc:sample="sample_data\string_1.dwl" mimeType="application/java"/>
                        <dw:input-variable variableName="ResponseCode"/>
                        <dw:set-variable variableName="ResponseData"><![CDATA[%dw 1.0
%output application/json
---
{
	ID: payload.NO_PENGENAL,
	FullName: payload.NAMA_LENGKAP,
	BirthPlace: payload.TEMPAT_LAHIR,
	BirthDay: payload.TGL_LAHIR as :string {format: "yyyy-MM-dd"},
	Gender: payload.KD_JENIS_KELAMIN,
	FatherName: payload.NAMA_AYAH,
	MotherName: payload.NAMA_IBU,
	FamilyNo: payload.NO_KK,
	FamilyHead: payload.KK
}]]></dw:set-variable>
                    </dw:transform-message>
                    <set-variable variableName="ResponseCode" value="00" doc:name="Variable"/>
                </when>
                <otherwise>
                    <logger message="Default Choice Printed" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>
        </foreach>
        <set-payload value="{&quot;ResponseCode&quot;:&quot;#[flowVars.ResponseCode]&quot;,&quot;ResponseDesc&quot;:&quot;&quot;,&quot;ResponseData&quot;:#[flowVars.ResponseData]}" mimeType="application/json" doc:name="Set Payload" metadata:id="65ee8948-f7ef-481a-94e3-c6f94628bf11"/>
        <logger message="ResponseMessage : #[payload]" level="INFO" doc:name="Logger"/>

        <exception-strategy ref="Global_Choice_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
